In [3]:
import re
import pandas as pd

In [4]:
# import the dictionary 
dic=pd.read_csv("yearcode.csv",index_col=0, squeeze=True).to_dict()
dic2=pd.read_csv("yearcode2.csv",index_col=0, squeeze=True).to_dict()
#dic

In [10]:
## import the metadata
## here metadata is a tab delimited file
meta=pd.read_csv("RSVB_meta.txt",sep='\t')

In [15]:
## do translate
meta['yearcode']=meta['year'].map(dic2)
meta

,taxa,acession,country,data,genotype,duplication,gene-loss,region,year,yearcode,code
0,KU316116|USA|07/02/77|NA|no-duplication|insert,KU316116,USA,7/2/77,NaN,no-duplication,insert,PAHO,1977,Before 2000,1976-1978.PAHO
1,KU316097|USA|07/02/78|NA|no-duplication|insert,KU316097,USA,7/2/78,NaN,no-duplication,insert,PAHO,1978,Before 2000,1976-1978.PAHO
2,KP258712|USA|07/02/79|NA|no-duplication|insert,KP258712,USA,7/2/79,NaN,no-duplication,insert,PAHO,1979,Before 2000,1979-1981.PAHO
3,KU316095|USA|07/02/79|NA|no-duplication|insert,KU316095,USA,7/2/79,NaN,no-duplication,insert,PAHO,1979,Before 2000,1979-1981.PAHO
4,KU316147|USA|07/02/79|NA|no-duplication|insert,KU316147,USA,7/2/79,NaN,no-duplication,insert,PAHO,1979,Before 2000,1979-1981.PAHO
...,...,...,...,...,...,...,...,...,...,...,...
591,MH760671|Australia|11/28/16|NA|G-duplication|n...,MH760671,Australia,11/28/16,NaN,G-duplication,no-insert,WPRO,2016,2015-2017,2015-2017.WPRO
592,MH760670|Australia|12/01/16|NA|G-duplication|n...,MH760670,Australia,12/1/16,NaN,G-duplication,no-insert,WPRO,2016,2015-2017,2015-2017.WPRO
593,MH760669|Australia|12/04/16|NA|G-duplication|n...,MH760669,Australia,12/4/16,NaN,G-duplication,no-insert,WPRO,2016,2015-2017,2015-2017.WPRO
594,LC385008|Philippines|12/05/16|NA|G-duplication...,LC385008,Philippines,12/5/16,NaN,G-duplication,no-insert,WPRO,2016,2015-2017,2015-2017.WPRO
595,LC385006|Philippines|12/19/16|NA|G-duplication...,LC385006,Philippines,12/19/16,NaN,G-duplication,no-insert,WPRO,2016,2015-2017,2015-2017.WPRO

In [18]:
## combine region and yearcode
meta['code'] = meta['yearcode'].str.cat(meta['region'], sep =".")
meta
## count how many group in code
meta.code.drop_duplicates().count()
#meta.code.drop_duplicates()

24

In [20]:
## save dataframe as tab.txt
meta.to_csv('RSVB_metacode.txt',sep='\t', index=False)